.popup__input {
  min-width: 358px;
  height: 27px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media all and (max-width: 470px) {
  .popup__name {
    width: calc(238/320*100vw);
    min-width: 200px;
  }
}
