.footer {
  max-width: 880px;
  display: flex;

}

@media all and (max-width: 1024px) {
  .footer {
    width: 95.3125%;
    max-width: 928px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    width: 96.875%;
    max-width: 720px;
  }
}
