.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 48px;
  padding: 0;
  align-self: flex-start;
  overflow: hidden;
  white-space: nowrap;
}

@media all and (max-width: 470px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
